<section class="content-header">
    <h1>
        Settings
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Edit Profile</div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" value="Shuaib">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="" value="shuaib@dashboard.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Phone</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" Value="1234567890">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Image</label>

                            <div class="col-sm-9">
                                <div class="image-upload-box">
                                    <div class="input-group">
                                        <input id="fakeUploadLogo" class="form-control fake-shadow"
                                               placeholder="File Name" disabled="disabled">
                                        <div class="input-group-btn">
                                            <div class="fileUpload btn btn-danger fake-shadow">
                                                <span>Choose</span>
                                                <input id="logo-id" name="logo" type="file" class="attachment_upload">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="help-block">Upload JPG/PNG file of less than 2MB size</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-hl">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">Reset Password</div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Old Password</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">New Password</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Confirm New Password</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-hl">Update Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
