<section class="feature-section" id="feature-section">
  <div class="container">
    <div class="text-center">
      <h2>Our Services</h2>
    </div>
    <!-- tabs -->
    <div class="service-tabs center-tabs">
      <ul class="nav nav-tabs p-t-20">
        <li class="active">
          <a data-toggle="tab" href="#tab1">Packers & Movers</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab2">Hotels</a>
        </li>
      </ul>

      <div class="tab-content p-t-80">
        <div class="scroll-hidden tab-pane active in" id="tab1">
          <section id="cd-timeline-pam" class="cd-container">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me"
                     src="/build/assets/images/vectorfiles/bookpremove.svg">
                <div class="cd-date">Book pre-move survey</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me"
                     src="/build/assets/images/vectorfiles/getresponsein2hr.svg">
                <div class="cd-date">Get response in 2 hours</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me"
                     src="/build/assets/images/vectorfiles/getquoteonline.svg">
                <div class="cd-date">Get quote online</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me"
                     src="/build/assets/images/vectorfiles/getcorporateapproval.svg">
                <div class="cd-date">Share & get corporate approval online
                </div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me" src="/build/assets/images/vectorfiles/track.svg">
                <div class="cd-date">Track Your Movement of goods</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
          </section> <!-- cd-timeline -->
        </div>

        <div class="scroll-hidden tab-pane" id="tab2">
          <section id="cd-timeline-hotel" class="cd-container">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me" src="/build/assets/images/vectorfiles/exploremorethan42000.svg">
                <div class="cd-date">Explore more than 16,000 Hotels</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me" src="/build/assets/images/vectorfiles/getquoteonline.svg">
                <div class="cd-date">Select your favorite Hotel in the destination City</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <i class="fa fa-user fa-2x center-it"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <img class="center-me" src="/build/assets/images/vectorfiles/getcorporateapproval.svg">
                <div class="cd-date">Pay Online & Enjoy the Stay</div>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
          </section> <!-- cd-timeline -->
        </div>
      </div>
    </div>
    <!-- /tabs -->
  </div>
</section>
