<div class="min-height">
  <div class="container">

    <!-- Token verification in progress -->
    <div class="row m-t-50" *ngIf="!tokenCheckCompleted">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert-box card m-t-15 m-b-15">
          <div class="alert-box_main-text">
            <div>Verifying Token...</div>
          </div>
          <div class="alert-box_icon">
            <div id="simple-loading">
              <div class="three-balls">
                <div class="ball ball1"></div>
                <div class="ball ball2"></div>
                <div class="ball ball3"></div>
              </div>
            </div>
          </div>
          <div class="alert-box_sub-text">
            <div>Please wait while the password reset token is being verified.</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Invalid password reset link -->
    <div class="row m-t-50" *ngIf="tokenCheckCompleted && !validToken">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert-box card m-t-15 m-b-15">
          <div class="alert-box_icon">
            <div class="circle-icon circle-icon_danger">
              <span class="alert-icon center-it"></span>
            </div>
          </div>
          <div class="alert-box_main-text">
            <div>Error</div>
          </div>
          <div class="alert-box_sub-text">
            <div>{{ errorMessage }}</div>
          </div>
          <div class="alert-box_footer">
            <a routerLink="/" class="btn btn-hl">Home</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Valid password reset token. Password reset form. -->
    <div class="login-form" *ngIf="tokenCheckCompleted && validToken && !passwordUpdated">
      <div class="login-form__header">
        <div class="icon-circle">
          <i class="fa fa-user fa-2x center-it"></i>
        </div>
        <label>Set Password</label>
      </div>
      <div class="login-form__body">
        <form [formGroup]="form.getForm()" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <div class="form-label">Email</div>
            <input type="text" class="form-control input-md" formControlName="email" readonly>
            <input type="hidden" class="form-control input-md" formControlName="token" readonly>
          </div>
          <div class="form-group" [ngClass]="form.hasError('password') ? 'has-error': ''">
            <div class="form-label">New Password</div>
            <input type="password" formControlName="password" class="form-control input-md">
            <span class="help-block" *ngIf="form.hasError('password')">
              {{ form.getError('password') }}
            </span>
          </div>
          <div class="form-group" [ngClass]="form.hasError('password_confirmation') ? 'has-error': ''">
            <div class="form-label">Confirm Password</div>
            <input type="password" formControlName="password_confirmation" class="form-control input-md">
            <span class="help-block" *ngIf="form.hasError('password_confirmation')">
              {{ form.getError('password_confirmation') }}
            </span>
          </div>
          <button #submit type="submit" class="btn btn-hl full-width input-md">Reset Password</button>
        </form>
      </div>
    </div>

    <div class="row m-t-50" *ngIf="tokenCheckCompleted && validToken && passwordUpdated">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert-box card m-t-15 m-b-15">
          <div class="alert-box_icon">
            <div class="circle-icon circle-icon_success">
              <span class="alert-icon center-it"></span>
            </div>
          </div>
          <div class="alert-box_main-text">
            <div>Password Successfully Reset</div>
          </div>
          <div class="alert-box_sub-text">
            <div>You can now login to your account.</div>
          </div>
          <div class="alert-box_footer">
            <a (click)="redirectToLoginPage()" class="btn btn-hl cursor-pointer">Login</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
