<div class="page-header">
  <div class="page-header_main">Testimonials</div>
</div>

<section class="hl-section p-t-20 p-b-20">
  <div class="container">
    <div class="hl-section_header">
      <h2 class="hl-section_header--main">
        Customer Testimonials
      </h2>
    </div>
    <div class="hl-section_content testimonials-page">
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/testimonials/users/naveen-babu.jpg">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Naveen Babu</strong></h4>
                <p>IT Analyst, TCS</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Very nice initiative and good service from the entire team. I would recommend this to
                everyone who wanted to relocate.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/testimonials/users/somya-gupta.jpg">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Somya Gupta</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>My entire stuff was transported from Mumbai to Delhi with the support of HappyLocate.
                The are credible and authentic source to get linked to verified logistics agents.
                Facilities from comparing quotes between these players to making online payments, they
                have been outstanding. Strongly recommended to all.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/testimonials/users/rajagopalan.jpg">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Rajagopalan</strong></h4>
                <p>VP, Vtech Biotron</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Reliable and genuine vendors.. They provide estimate pre-relocation by a survey too.
                Very happy with the service.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Shounak Nath</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Perfect platform for all your relocating needs. Hassle-free and user friendly.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Priyanshu Mani</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Affordable platform that allows you to choose from multiple packers and movers. It also
                offers other services for multiple relocation needs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Naveen Sukumar</strong></h4>
                <p>Consultant, Cognizant</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Through HappyLocate, I was able to finalize a vendor and move my goods in a safe and
                secure manner in 2 days. At my new place, they have even helped me unpack my goods.
                Overall, it is a very happy experience. There were no hiccups. I would recommend
                HappyLocate to anyone who is relocating their house.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Vishal G</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>For any relocation needs, contact Happylocate. They provide packers and movers, housing
                and school assistance to the customers moving to a different city. Best thing about
                them, it is customer centric and lets you compare and select verified packers and
                movers. Recommend to all.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Ashish Bali</strong></h4>
                <p>Sales professional</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Good concept. Liked the website and service, have almost all the named vendor tie ups.
                I would recommend them to my friends and family.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Batlahalli Prashanth Reddy</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>One stop solution for all your relocation needs. Planning to relocate??? Call Happy
                locate and relax !! Rest is all taken care.... I recommend this company for any
                relocation services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/testimonials/users/sanjob.jpg">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Sanjog Bal</strong></h4>
                <p>Sr Software Engg, IBM</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Hassle free. Tell them your itinerary, they will do the comparison of the available
                packers, select the best option and they will arrange it for you.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Ajay Kalyankar</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Very good customer service at amazing price.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Arif Baig</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>Happy to relocate. Like very much the service provided</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Rupal Ranjan</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>They provide packers and movers, housing and school assistance to the customers moving
                to a different city. It lets you compare and select verified packers and movers. Best
                Services Ever. I recommend it to all the users.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Komal Bagga</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>As its name is Happy Locate it genuinely gives us hassle free relocate...Their services
                are quite good.</p>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card_profile">
              <div class="testimonial-card_img">
                <img src="/build/assets/images/default/default-user-male.png">
              </div>
              <div class="testimonial-card_details">
                <h4><strong>Ankush Yadhav</strong></h4>
                <p>Customer</p>
              </div>
            </div>
            <div class="testimonial-card_content">
              <p>It is best for all your relocation related needs. It is really easy and helpful.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>