<div class="min-height">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card m-t-30 m-b-15">

          <!-- Confirmation in progress -->
          <div class="alert-box" *ngIf="!tokenCheckCompleted">
            <div class="alert-box_main-text">
              <div>Confirming...</div>
            </div>
            <div class="alert-box_icon">
              <div id="simple-loading">
                <div class="three-balls">
                  <div class="ball ball1"></div>
                  <div class="ball ball2"></div>
                  <div class="ball ball3"></div>
                </div>
              </div>
            </div>
            <div class="alert-box_sub-text">
              <div>Please wait while we verify and confirm your email address.</div>
            </div>
          </div>

          <!-- Success email confirmation -->
          <div class="alert-box" *ngIf="tokenCheckCompleted && confirmationSuccess">
            <div class="alert-box_icon">
              <div class="circle-icon circle-icon_success">
                <span class="alert-icon center-it"></span>
              </div>
            </div>
            <div class="alert-box_main-text">
              <div>Success</div>
            </div>
            <div class="alert-box_sub-text">
              <div>Your email has been successfully confirmed. You can now login to your account.</div>
            </div>
            <div class="alert-box_footer">
              <a (click)="redirectToLoginPage()" class="btn btn-hl cursor-pointer">Login</a>
            </div>
          </div>

          <!-- Invalid email confirmation link -->
          <div class="alert-box" *ngIf="tokenCheckCompleted && !confirmationSuccess">
            <div class="alert-box_icon">
              <div class="circle-icon circle-icon_danger">
                <span class="alert-icon center-it"></span>
              </div>
            </div>
            <div class="alert-box_main-text">
              <div>Error</div>
            </div>
            <div class="alert-box_sub-text">
              <div>{{ errorMessage }}</div>
            </div>
            <div class="alert-box_footer">
              <a routerLink="/" class="btn btn-hl">Home</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

