<section class="content">
    <h2>Toastr </h2>
    <div class="box">
        <h3>Default</h3>
        <div class="box-body">
            <button class="btn btn-success" (click)="showSuccess()">Success</button>
            <button class="btn btn-danger" (click)="showError()">Error</button>
            <button class="btn btn-warning" (click)="showWarning()">Warning</button>
            <button class="btn btn-info" (click)="showInfo()">Information</button>
            <button class="btn btn-default" (click)="showCustom()">Custom</button>
        </div>
    </div>

    <div class="box">
        <h3>Dismiss on click</h3>
        <div class="box-body">
            <button class="btn btn-success" (click)="showSuccess1()">Success</button>
            <button class="btn btn-danger" (click)="showError1()">Error</button>
            <button class="btn btn-warning" (click)="showWarning1()">Warning</button>
            <button class="btn btn-info" (click)="showInfo1()">Information</button>
            <button class="btn btn-default" (click)="showCustom1()">Custom</button>
        </div>
    </div>

    <!--<div class="box">-->
        <!--<h3>toast-top-center</h3>-->
        <!--<div class="box-body">-->
            <!--<button class="btn btn-success" (click)="showSuccess2()">Success</button>-->
            <!--<button class="btn btn-danger" (click)="showError2()">Error</button>-->
            <!--<button class="btn btn-warning" (click)="showWarning2()">Warning</button>-->
            <!--<button class="btn btn-info" (click)="showInfo2()">Information</button>-->
            <!--<button class="btn btn-default" (click)="showCustom2()">Custom</button>-->
        <!--</div>-->
    <!--</div>-->
</section>