<aside class="main-sidebar">
    <section class="sidebar">

        <!-- Sidebar user panel (Optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <!-- <img [src]="user.profile_picture_url" class="img-circle sidebar-img" alt="User Image"> -->
                <img src="assets/images/default/profile-picture.jpg" class="img-circle sidebar-img" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>John Doe</p>
                <a routerLink="/admin/profile">Profile</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin">
                    <i class="fa fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>


            <li class="treeview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/admin/users">List</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/users/add">Add User</a>
                    </li>
                </ul>
            </li>

            <li class="treeview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="#">
                    <i class="fa fa-truck"></i>
                    <span>Pages</span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/admin/profile">
                            <span>Profile</span>
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/admin/pages/login">Login</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/admin/pages/register">Register</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="page-not-found">Page not found</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/admin/settings">
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin/icons">
                    <i class="fa fa-home"></i>
                    <span>Icons</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin/notie">
                    <i class="fa fa-home"></i>
                    <span>Notie</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin/table-api">
                    <i class="fa fa-table"></i>
                    <span>Table with api</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin/ui-elements">
                    <i class="fa fa-table"></i>
                    <span>UI Elements</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/admin/sweet-alert">
                    <i class="fa fa-table"></i>
                    <span>Sweet Alert</span>
                </a>
            </li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
