<div class="bg-img user-signup-bg"></div>
<div class="user-login">
  <div class="container">
    <div class="login-box user-ls-card">
      <div class="login-box_header">
        <div class="login-box_header--label">SIGNUP</div>
      </div>

      <div class="login-box_body">

        <div *ngIf="!otpSent">
          <form [formGroup]="sendOtpForm.getForm()" (ngSubmit)="onSendOtp()">
            <div class="form-group" [ngClass]="sendOtpForm.hasError('mobile') ? 'has-error': ''">
              <input type="text" formControlName="mobile" class="form-control input-md"
                     placeholder="Enter Mobile Number" title="Mobile Number" maxlength="10">
              <span class="help-block" *ngIf="sendOtpForm.hasError('mobile')">
                {{ sendOtpForm.getError('mobile') }}
              </span>
            </div>
            <button #sendOtpButton type="submit" class="btn btn-hl full-width input-md">Send OTP</button>
          </form>
        </div>

        <div *ngIf="otpSent && !otpVerified">
          <form [formGroup]="otpVerifyForm.getForm()" (ngSubmit)="onVerifyOtp()">

            <input type="hidden" class="form-control input-md" formControlName="uuid" readonly>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control input-md" [value]="mobileNumber" title="Mobile Number" readonly>
                <span class="input-group-btn">
                  <button (click)="resetSignup()" class="btn btn-hl btn-md" type="button">
                    <i class="fa fa-pencil fa-lg"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="otpVerifyForm.hasError('otp') ? 'has-error': ''">
              <input type="text" formControlName="otp" class="form-control input-md" placeholder="Enter OTP"
                     title="OTP">
              <span class="help-block" *ngIf="otpVerifyForm.hasError('otp')">
                {{ otpVerifyForm.getError('otp') }}
              </span>
            </div>

            <button #verifyOtpButton type="submit" class="btn btn-hl full-width input-md">Verify OTP</button>
          </form>
        </div>

        <div *ngIf="otpSent && otpVerified && !registered">
          <form [formGroup]="signupForm.getForm()" (ngSubmit)="onSignupSubmit()">

            <input type="hidden" class="form-control input-md" formControlName="mobile_uuid" readonly>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control input-md" [value]="mobileNumber" title="Mobile Number" readonly>
                <span class="input-group-btn">
                  <button (click)="resetSignup()" class="btn btn-hl btn-md" type="button">
                    <i class="fa fa-pencil fa-lg"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="signupForm.hasError('name') ? 'has-error': ''">
              <input type="text" formControlName="name" class="form-control input-md" placeholder="Enter Name"
                     title="Name">
              <span class="help-block" *ngIf="signupForm.hasError('name')">
                {{ signupForm.getError('name') }}
              </span>
            </div>

            <div class="form-group" [ngClass]="signupForm.hasError('email') ? 'has-error': ''">
              <input type="text" formControlName="email" class="form-control input-md" placeholder="Enter Email"
                     title="Email">
              <span class="help-block" *ngIf="signupForm.hasError('email')">
                {{ signupForm.getError('email') }}
              </span>
            </div>

            <div class="form-group" [ngClass]="signupForm.hasError('password') ? 'has-error': ''">
              <input type="password" formControlName="password" class="form-control input-md"
                     placeholder="Enter Password" title="Password">
              <span class="help-block" *ngIf="signupForm.hasError('password')">
                {{ signupForm.getError('password') }}
              </span>
            </div>

            <div class="form-group" [ngClass]="signupForm.hasError('password_confirmation') ? 'has-error': ''">
              <input type="password" formControlName="password_confirmation" class="form-control input-md"
                     placeholder="Confirm Password" title="Password Confirmation">
              <span class="help-block" *ngIf="signupForm.hasError('password_confirmation')">
                {{ signupForm.getError('password_confirmation') }}
              </span>
            </div>

            <button #signupButton type="submit" class="btn btn-hl full-width input-md">Signup</button>
          </form>
        </div>

        <div *ngIf="otpSent && otpVerified && registered">
          <div class="alert-box">
            <div class="alert-box_icon">
              <div class="circle-icon circle-icon_success">
                <span class="alert-icon center-it"></span>
              </div>
            </div>
            <div class="alert-box_sub-text">
              <div>Successfully signed up. Click on the button below to login.</div>
            </div>
            <div class="alert-box_footer">
              <a routerLink="/login" class="btn btn-hl">Login</a>
            </div>
          </div>
        </div>

      </div>

      <div class="login-box_footer">
        <div class="text-center">Have an account? <a routerLink="/login">Login here</a></div>
      </div>
    </div>
  </div>
</div>
