$line-height: 1.42857143;

// button
.btn {
  // line-height: normal;
  position: relative;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  border: 1px solid transparent !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  @include transition(0.2s ease-out);
  &.disabled {
    pointer-events: none;
  }
}

.btn.btn-hl {
  background-color: $theme-color;
  color: #fff;
  &:hover, &:focus, &:active {
    background-color: darken($theme-color, 5);
    color: #fff;
  }
}

.btn-outline {
  // line-height: normal;
  position: relative;
  padding: 8px 22px;
  border: 1px solid #333;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  background-color: transparent;
  color: #333;
  @include transition(0.2s ease-out);
}

.btn-outline.btn-hl {
  border: 1px solid $theme-color;
  color: $theme-color;
  &:hover {
    background-color: $theme-color;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }
}

.btn-radius {
  border-radius: 100px;
}

.btn-round {
  line-height: 1.42857143;
  position: relative;
  padding: 7px;
  border: 0;
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  @include transition(0.2s ease-out);
}

.btn-round-hl {
  background: #fff;
  border: 1px solid $theme-color;
  color: $theme-color;
}

.btn-round-primary {
  background: #fff;
  border: 1px solid $b-primary;
  color: $b-primary;
}

.btn-round-default {
  background: #fff;
  border: 1px solid $b-default;
  color: $b-default;
}

.btn-round-success {
  background: #fff;
  border: 1px solid $b-success;
  color: $b-success;
}

.btn-round-danger {
  background: #fff;
  border: 1px solid $b-danger;
  color: $b-danger;
}

.btn-round-info {
  background: #fff;
  border: 1px solid $b-info;
  color: $b-info;
}

.btn-round-warning {
  background: #fff;
  border: 1px solid $b-warning;
  color: $b-warning;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-hl.btn-outline {
  color: $theme-color;
  border: 1px solid $theme-color;
}

.btn-primary.btn-outline {
  color: $b-primary;
  border: 1px solid $b-primary;
}

.btn-success.btn-outline {
  color: $b-success;
  border: 1px solid $b-success;
}

.btn-info.btn-outline {
  color: $b-info;
  border: 1px solid $b-info;
}

.btn-warning.btn-outline {
  color: $b-warning;
  border: 1px solid $b-warning;
}

.btn-danger.btn-outline {
  color: $b-danger;
  border: 1px solid $b-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-xs {
  padding: 2px 22px !important;
  height: 26px;
  overflow: hidden;
  font-size: 14px;
  line-height: $line-height;
}

.btn-sm {
  padding: 4px 22px !important;
  height: 30px;
  overflow: hidden;
  font-size: 14px;
  line-height: $line-height;
}

.btn-md {
  padding: 8px 22px !important;
  height: 38px;
  overflow: hidden;
  font-size: 14px;
  line-height: $line-height;
}

.btn-lg {
  padding: 10px 22px !important;
  height: 42px;
  overflow: hidden;
  font-size: 14px;
  line-height: $line-height;
}

.btn-xl {
  padding: 12px 22px !important;
  height: 46px;
  overflow: hidden;
  font-size: 14px;
  line-height: $line-height;
}

.btn-300 {
  min-width: 300px;
  @include media(500px) {
    min-width: 100%;
  }
}