.auto {
  margin: 0 auto;
  display: block;
}

.w100 {
  max-width: 100px;
}

.w200 {
  max-width: 200px;
}

.w300 {
  max-width: 300px;
}

.w400 {
  max-width: 400px;
}

.w500 {
  max-width: 500px;
}

.w600 {
  max-width: 600px;
}

.w700 {
  max-width: 700px;
}

.w800 {
  max-width: 800px;
}

.w900 {
  max-width: 900px;
}

.w1000 {
  max-width: 1000px;
}