
<section class="content-header">
    <h1>
        User View
    </h1>
</section>

<section class="content">

    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <img class="profile-user-img profile-user-img_big img-responsive img-circle" src="assets/images/default/profile-picture.jpg" alt="User profile picture">
                    <h3 class="text-center">John Doe</h3>
                    <div class="text-center m-t-30">
                        <a [routerLink]="['/admin/users/edit']" class="btn-hl btn-outline"> <i class="fa fa-pencil"></i> Edit User</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Email/Username</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>John Doe</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Mobile</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>1234567895</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Status</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5><label class="label label-success">Active</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Email Confirmed</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5><i class="fa fa-check-circle text-green"></i> Yes</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Mobile Confirmed</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5><i class="fa fa-times-circle text-red"></i> No</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Roles</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>Loading Manager, Unloading Manager</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Registered On</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>16-05-17 | 12:30 pm</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Last Login</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>21-05-17 | 1:12 pm</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h5><b>Last Login IP</b></h5>
                        </div>
                        <div class="col-xs-8">
                            <h5>192.168.0.1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
