<div class="page-header">
  <div class="page-header_main">Frequently Asked Questions</div>
</div>

<section class="hl-section">
  <div class="container">
    <div class="hl-section_content">

      <div class="panel-group" id="faqAccordion">
        <h3>User Benefits</h3>
        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#question0">
            <h4 class="panel-title">
              <a class="ing">Q: Why HappyLocate?</a>
            </h4>

          </div>
          <div id="question0" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>
                Relocation is an unorganized market with Unauthentic/Duplicate Packers Movers, price uncertainty with
                undefined service levels damaging the relocation experience of many. Therefore, HappyLocate has the
                following offering:<br>
                1. Reliable & reputed Packers & Movers <br>
                2. Multiple Services at one Platform (Packers Movers and Hotels)<br>
                3. Compare Quotes to get the best deals<br>
                4. Packaging Guidelines to ensure safety of household goods in transit<br>
                5. A move Expert to manage your end to end coordination without follow ups.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#question1">
            <h4 class="panel-title">
              <a class="ing">Q: How can you ensure prices on HappyLocate are competitive?</a>
            </h4>

          </div>
          <div id="question1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>Packers & Movers – Service Providers understand that they will be compared with other competitors on
                HappyLocate Platform and therefore they share competitive quote with an objective to win it. A User can
                compare and choose the best quote at Happylocate.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#question2">
            <h4 class="panel-title">
              <a class="ing">Q: How does HappyLocate protect Customer’s interest for packing moving service?</a>
            </h4>

          </div>
          <div id="question2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>HappyLocate exposes you to curated list of reputed packers & Movers and helps you through knowledge to
                take uninfluenced decisions on choosing vendors and comparing quotes for best deals as per service
                needed. HappyLocate also rewards or penalizes Vendors on performance like goods damage, non-adherence on
                SLAs to ensure SERVICE STANDARDS and Customer experience ultimately.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#question3">
            <h4 class="panel-title">
              <a class="ing">Q: Why HappyLocate has only reputed Packers and Movers? Does that mean the moves will be
                costly?</a>
            </h4>

          </div>
          <div id="question3" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>HappyLocate focuses on Customer Experience and Customer Delight. Good service and reliability comes
                with experience and required infrastructure to support the service and therefore HappyLocate has only
                Packers Movers with a reliable track record. It is extremely necessary that the specific quality
                material be used for safety, that's where HappyLocate standards come in place and that is the reason we
                have Premium, established and verified players on our platform.</p>

              <p>About Cost, the moves are not costly even with the reputed packers and movers as materials are bought
                in bulk as per their consumption rate and therefore economic. Second, the risks with local packers and
                movers are high and therefore more costly. You get the value for the price you pay at HappyLocate with
                service standards and convenience.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#question4">
            <h4 class="panel-title">
              <a class="ing">Q: How do we get to know who is coming for a Pre Move Survey at what time?</a>
            </h4>

          </div>
          <div id="question4" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>HappyLocate has a robust process driven approach and notifies customers with complete details of the
                Pre Move Surveyor, Loading Manager & Unloading Manager before they arrive your place along with
                scheduled time of arrival. This is keeping in mind the security and convenience of our customers.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Services & Booking</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#sb1">
            <h4 class="panel-title">
              <a class="ing">Q: How to book a packing Moving service on HappyLocate.com?</a>
            </h4>

          </div>
          <div id="sb1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>It’s simple and easy.<br>
                <b>Step 1:</b> Visit www.HappyLocate.com<br>
                <b>Step 2:</b> Select Packers Movers Service, choose if its “Between City” or “Within City” movement,
                Input origin and destination City and click “SUBMIT”.<br>
                <b>Step 3:</b> Choose amongst 3 options - Quick connect, Pre Move Survey OR Share Inventory<br>
                <b>Step 4:</b> Choose Packers Movers listed as per the search criteria displayed AND Click “Connect”.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#sb2">
            <h4 class="panel-title">
              <a class="ing">Q: What are the other Relocation Services you offer?</a>
            </h4>

          </div>
          <div id="sb2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>A User may book Hotels as well on HappyLocate.com within India. We have 16000 Hotels displayed on
                HappyLocate to choose from and have competitive rates with many premium, luxury and corporate budget
                hotels good for initial short stay.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Our Presence</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#op1">
            <h4 class="panel-title">
              <a class="ing">Q: Do you provide Packers Movers services from Lucknow?</a>
            </h4>

          </div>
          <div id="op1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>

              <p>We provide services From anywhere To anywhere within India.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Relocation Challenges</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#rchal1">
            <h4 class="panel-title">
              <a class="ing">Q: What are some of the challenges HappyLocate addresses during Relocation?</a>
            </h4>

          </div>
          <div id="rchal1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>
                Few challenges HappyLocate addresses are:<br>
                1. Damaging Household Goods in transit<br>
                2. Wasting a lot of time in coordinating the delay in goods delivery<br>
                3. Spending on damages and repairs<br>
                4. And even being threatened by a local packer Mover on raising concerns.<br>
                5. Finally going on multiple websites for each requirement like Packer & Movers & Hotels separately.<br>
                6. Coming across non-compliant Vendors OR Packers & Movers.
              </p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Partnered Packers & Movers</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#partnered1">
            <h4 class="panel-title">
              <a class="ing">Q: Who are the Packers & Movers OR Moving companies empanelled with HappyLocate?</a>
            </h4>

          </div>
          <div id="partnered1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>HappyLocate has empanelled only verified and established Packers Movers of the country which includes
                names like Agarwal Packers and Movers Limited, Leo Packers & Movers India Pvt. Ltd. , Santa Fe Moving
                Services Pvt. Ltd., Interim Relocations (International Removals Division of Freight Systems India Pvt.
                Ltd.), Maxwell Logistics Private Limited, Sahara Domestic & International Packers and Movers,
                Professional Packers and Movers(P) Ltd., Transdaksh Packers, Euro Packers, Manish Cargo Movers Pvt.
                Ltd.,
                Like Packers & Movers and B R Shashtry to name few.<br>
                HappyLocate policy is ONLY ORIGINALS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#partnered2">
            <h4 class="panel-title">
              <a class="ing">Q: Why HappyLocate has only reputed Packers and Movers? Does that mean the moves will be
                costly?</a>
            </h4>

          </div>
          <div id="partnered2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>HappyLocate focuses on Customer Experience and Customer Delight. Good service and reliability comes
                with experience and required infrastructure to support the service and therefore HappyLocate has only
                Packers Movers with a reliable track record. It is extremely necessary that the specific quality
                material be used for safety, that's where HappyLocate standards come in place and that is the reason we
                have Premium, established and verified players on our platform.</p>

              <p>About Cost, the moves are not costly even with the reputed packers and movers as materials are bought
                in bulk as per their consumption rate and therefore economic. Second, the risks with local packers and
                movers are high and therefore more costly. You get the value for the price you pay at HappyLocate with
                service standards and convenience.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#partnered3">
            <h4 class="panel-title">
              <a class="ing">Q: Which are the best packers & movers for my movement from Delhi to Bangalore?</a>
            </h4>

          </div>
          <div id="partnered3" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>HappyLocate has only original, verified and reputed Packers & Movers to choose from, get quotations,
                compare them for the best deal and get your interest protected by them. So just choose any packer mover
                on HappyLocate.com as all are verified for relocations anywhere in India.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Safety & Security of Goods</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#safety1">
            <h4 class="panel-title">
              <a class="ing">Q: How does HappyLocate ensure safety and security of my household goods during shifting/
                transit?</a>
            </h4>

          </div>
          <div id="safety1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>HappyLocate has packaging guidelines signed with their empanelled vendors to ensure the safety of
                goods. Materials and packing methods have changed and improved over these years, but we are still guided
                by a respect for the precious goods that you have entrusted to our care. In each step of our handling,
                we have taken every precaution to reduce the risks of loss and damage to your Shipment. But just as the
                safest of drivers still find it prudent to carry automobile insurance, we cover your shipment by
                Insurance during transit.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#safety2">
            <h4 class="panel-title">
              <a class="ing">Q: What are the packaging materials used OR what are packaging guidelines?</a>
            </h4>

          </div>
          <div id="safety2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>The basic packaging mandate to be followed by the service partner is as below:</p>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Category</th>
                    <th>Packing material</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Wardrobes, Wracks, Beds, Refrigerators, Dressing Tables</td>
                    <td>Corrugated Sheet/Cartons + Water proof stretch wrapping</td>
                  </tr>
                  <tr>
                    <td>All other Items</td>
                    <td>Cargo Sheet + Water Proof stretch Wrapping</td>
                  </tr>
                  <tr>
                    <td>Fragile Items such as Crockery, Glass materials, Mirrors, Dressing Tables,
                      Television/LCD/LEDS/Laptops/Electronic Items & Paintings.
                    </td>
                    <td>Cargo Sheet/Roll Paper + Air Bubble Sheet Wrapping /Air Bubble Pouches /Cushion Wrapping/Special
                      LED reusable Plastic boxes+ Waterproof Stretch Wrapping
                    </td>
                  </tr>
                  <tr>
                    <td>For filling gaps while packaging all fragile/Delicate items</td>
                    <td>Thermocol Sheets and Boxes</td>
                  </tr>
                  <tr>
                    <td>For Sealing Safely</td>
                    <td>Cello Tapes</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <h3>Insurance & Claims</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#insurance1">
            <h4 class="panel-title">
              <a class="ing">Q: How do I claim in case of damage and by when do I receive my settlement amount?</a>
            </h4>

          </div>
          <div id="insurance1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>It’s simple. <br>
                <b>Step 1:</b> Raise a request online at HappyLocate.com OR send an email at
                aakash.ranjan@happylocate.com sharing the inventory/goods damaged along with images of damaged goods.
                <br>
                <b>Step 2:</b> HappyLocate coordinates with the servicing Packer Mover and facilitates the settlement
                amount within 72 hours. <br></p>

              <p><b>Note:</b> Please do not sign the movement completion Receipt in case of damage identified at the
                time of unloading and do mention special remarks at the back of the receipt about any damage noticed at
                the time of unloading. Damage noticed within 48 hours of unloading can also be claimed. </p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Temporary Storage / Warehousing</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#temporary1">
            <h4 class="panel-title">
              <a class="ing">Q: Can you hold the consignment at destination for a week, if so what are the charges for
                storage/warehousing facility?</a>
            </h4>

          </div>
          <div id="temporary1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>Yes, we have ware housing /storage facility with almost all the vendors empanelled however storage
                option can be chosen on HappyLocate.com in the search filter criteria to display vendors offering the
                facility. (It is displayed as one of the filter criteria’s on the left panel of the page where Vendors
                are listed /displayed). Users may check the prices with the vendors at the time of need /inventory
                assessment.</p>
              <p>*Note: Check for complimentary storage facilitated by HappyLocate with few of the vendors for a limited
                time period.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>General Questions</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#general1">
            <h4 class="panel-title">
              <a class="ing">Q: Who to reach for any queries?</a>
            </h4>

          </div>
          <div id="general1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>You may write to reachus@happylocate.com OR call Relocation helpline 8884447224 for any relocation
                related queries.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#general2">
            <h4 class="panel-title">
              <a class="ing">Q: What is the purpose of a Pre- move survey?</a>
            </h4>

          </div>
          <div id="general2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>The purpose of a pre-move survey is to get the BEST estimate of the volume of the goods to be
                transported. It also helps Identifying delicate & valuable articles, understand needs more closely to
                accurately project manpower and materials requirements and therefore a right QUOTE submission basis
                that.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#general3">
            <h4 class="panel-title">
              <a class="ing">Q: Will I need to pack things beforehand, or do they do all the packing?</a>
            </h4>

          </div>
          <div id="general3" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>The movers will do the packing.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#general4">
            <h4 class="panel-title">
              <a class="ing">Q: Do I need to disassemble my furniture?</a>
            </h4>

          </div>
          <div id="general4" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>No, the movers will do that for you. Any furniture you want to have disassembled should be identified
                during the household goods survey with the moving company representative to ensure the proper time is
                allotted and tools are brought.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Do’s and Don’ts</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#dos1">
            <h4 class="panel-title">
              <a class="ing">Q: Are there any restrictions on the type of goods and materials I can have moved?</a>
            </h4>

          </div>
          <div id="dos1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>In general, you should not pack liquids, perishable foods, flammable liquids, or any form of explosive.
                If you have a question about particular items please contact your Relocation Coordinator.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Payments</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#payments1">
            <h4 class="panel-title">
              <a class="ing">Q: What are the modes of payment and who do I make a payment and when?</a>
            </h4>

          </div>
          <div id="payments1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>All the payments are done in advance on HappyLocate.com through our secured online payment gateway only
                after a quote amount is generated and displayed in your HappyLocate dashboard. We accept online payments
                through net-banking, credit card, debit card or wallets associated with HappyLocate (HL).</p>
              <p>Note: Never pay in cash or through any other mode or at any other platform to anyone other than on
                HappyLocate.com payment gateway</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Referral Benefits</h3>

        <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed white" data-toggle="collapse"
               data-parent="#faqAccordion" data-target="#referral">
            <h4 class="panel-title">
              <a class="ing">Q: How do I REFER someone who is relocating? How do I get benefited for referring?</a>
            </h4>

          </div>
          <div id="referral" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <h5><span class="label label-primary">Answer</span></h5>
              <p>You may click on refer, the link is available on the bottom left side of the home page
                https://www.happylocate.com . You may send referral link to your Facebook/Twitter connections OR may
                email to one or many people through your referral account. HappyLocate has a lucrative & well rewarding
                referral program where users may refer their friends and earn 1000 Reward Points (4 Happy Points = ₹ 1,
                so 1000 Reward Points = ₹ 250) on each successful referral. </p>
              <p>You are also eligible for discount codes and coupons on your daily shopping needs by participating in
                HappyLocate Referral Program. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
