<section class="content">
    <div class="login-form admin-login">
        <div class="login-form__header">
            <div class="icon-circle">
                <i class="fa fa-user fa-2x center-it"></i>
            </div>
            <label> Login</label>
        </div>
        <div class="login-form__body">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter Email">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password">
            </div>

            <button class="btn btn-hl full-width">Login</button>

            <div class="row">
                <div class="col-xs-6">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember me</label>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="">
                        Forgot Password?
                    </a>
                </div>
            </div>
        </div>
        <div class="login-form__footer hide">
            <p>Not a member?
                <a href="">Create Account</a>
            </p>
        </div>
    </div>
</section>