<div class="page-header">
  <div class="page-header_main">Refund Policy</div>
</div>

<div class="hl-section hl-section_white">
  <div class="container">
    <div class="hl-section_header">
      <h2 class="hl-section_header--main">
        Refund Policy
      </h2>
    </div>
    <div class="hl-section_content">
      <p>HappyLocate follows a transparent and customer friendly refund policy to ensure a superior customer
        satisfaction. The refund policy varies and is different for each service: </p>

      <h4>Packers and Movers: </h4>

      <p>HappyLocate offers a hassle-free relocation experience to the customers through its network of verified service
        providers. In case of any cancellations the refund will be initiated as per government norms or within 7 working
        days of receiving a cancellation request after deducting the booking confirmation fee( INR 500 for within city
        relocations and INR 1000 for between city(inter-city) relocations.</p>

      <h4>Hotels: </h4>

      <p>The refund shall be processed within 15-20 working days from the date of the cancellation request, after
        receiving back to back refund from the concerned Vendor.</p>
      <p>The refund amount with be subject to the deduction of the cancellation charges. Please refer individual hotel
        booking page for the cancellation charges.</p>

      <p>The refund policy is subject to change from time to time. The customer is advised to visit this page and keep
        himself/herself updated on the same.</p>
    </div>
  </div>
</div>
