<section class="content">
    <h2>Notie Alerts</h2>
    <div class="box">
        <h3>Top position</h3>
        <div class="box-body">
            <button class="btn btn-success" (click)="success()">Success</button>
            <button class="btn btn-warning" (click)="warning()">Warning</button>
            <button class="btn btn-danger" (click)="error()">Error</button>
            <button class="btn btn-info" (click)="info()">Information</button>
            <button class="btn btn-default" (click)="neutral()">Neutral</button>
        </div>
    </div>
    <div class="box">
        <h3>Bottom position</h3>
        <div class="box-body">
            <button class="btn btn-success" (click)="successBottom()">Success</button>
            <button class="btn btn-warning" (click)="warningBottom()">Warning</button>
            <button class="btn btn-danger" (click)="errorBottom()">Error</button>
            <button class="btn btn-info" (click)="infoBottom()">Information</button>
            <button class="btn btn-default" (click)="neutralBottom()">Neutral</button>
        </div>
    </div>
</section>