<div class="page-header">
  <div class="page-header_main">About Us</div>
</div>

<section class="hl-section hl-section_white p-t-20 p-b-20">
  <div class="container">
    <div class="hl-section_header">
      <h2 class="hl-section_header--main">
        HappyLocate
      </h2>
    </div>
    <div class="hl-section_content">
      <p>Happylocate, India’s first One Stop Relocation Platform, was conceptualized to reform the way India relocates.
        Relocation has mostly been a nightmare and a tough experience to many where it adds to complications when users
        struggle to find right vendors, face price uncertainty and ignorance on managing them.</p>
      <p>Customer Experience has been our prime focus and therefore we empanelled only Original, Reputed, established
        and reliable Packers Movers on the platform. No duplicates on HappyLocate. Packaging guidelines, Quote
        comparison and automation infused at each stage of relocation while coordinating end to end movement are the
        reasons why relocation should be experienced with HappyLocate. </p>
      <p>We also proudly own an Enterprise Solution (A customizable Technology) for Corporates to help them manage end
        to end Employee’s Relocation. Our endeavour is to significantly improve the relocation experience through
        transparency, reliability and convenience. </p>
      <p>HappyLocate Team is customer obsessed.</p>
    </div>
  </div>
</section>

<section class="hl-section hl-section_centered p-t-20">
  <div class="container">
    <div class="hl-section_header">
      <div class="hl-section_header--main">
        Meet Our Team
      </div>
    </div>
    <div class="hl-section_content">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/ajay.jpg" alt="Ajay Tiwari">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Ajay Tiwari</h4>
              <p class="our-team-card_content--designation">Co-Founder & CEO</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_first-row">
                Created benchmarks and worked like an entrepreneur in his 13 years of HR career with companies like
                Nokia, Vodafone, and Alcatel Lucent.His passion for creating a larger value helped conceptualization of
                HappyLocate, to reform the way India relocates.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/sainadh.jpg" alt="Sainadh Duvvuru">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Sainadh Duvvuru</h4>
              <p class="our-team-card_content--designation">Co-Founder & CBO</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_first-row">
                An internet entrepreneur with 5+ years of experience in Operations, Sales & Marketing with BPCL and HDFC
                Bank. An IIM alumnus with a vision to create a scalable system, streamlined the HappyLocate - helping
                people relocate better.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/sandeesh.jpg" alt="Sandeesh S">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Sandeesh S</h4>
              <p class="our-team-card_content--designation">Head Technology</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_second-row">
                Software Architect with 7 years in IT with Dell, Dotafreak (Co-Founder) and few others. Currently
                enjoying his passion for building innovative tech products.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/kiran.jpg" alt="Kiran G A">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Kiran G A</h4>
              <p class="our-team-card_content--designation">UI/UX Design</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_second-row">
                Design websites with latest trends that are not only beautiful but also handcrafted with clean &
                semantic code.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/srinivasa.jpg" alt="Srinivasa Murthy">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Srinivasa Murthy</h4>
              <p class="our-team-card_content--designation">Product Development</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_second-row">
                Silent but steady, that’s Srinivas, Strong hands on backend product development at HappyLocate after his
                contribution in companies like Innovera and Zyway.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/shuaib.jpg" alt="MD Shuaib">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">MD Shuaib</h4>
              <p class="our-team-card_content--designation">Front-End Development</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_third-row">
                Technology enthusiast who likes to work on latest tech to solve real world problems.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="our-team-card">
            <div class="our-team-card_img-section">
              <img src="/build/assets/images/team/aakash.jpg" alt="Aakash Ranjan">
            </div>
            <div class="our-team-card_content-section">
              <h4 class="our-team-card_content--name">Aakash Ranjan</h4>
              <p class="our-team-card_content--designation">Vendor & Customer Relations</p>
              <p class="our-team-card_content--bio our-team-card_content--bio_third-row">
                Ensured Customer Delight through Service Management at Flipkart and Books International for 6 years
                before joining HappyLocate, aiming to make a difference!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hl-section">
  <div class="container">
    <div class="hl-section_content">
      <div class="row hover-image-flex">
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/abhinav-priya.jpg" alt="Abhinav Priya">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Abhinav Priya</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/akshay-sharma.jpg" alt="Akshay Sharma">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Akshay Sharma</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/deepak-sivakumar.jpg" alt="Deepak Sivakumar">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Deepak Sivakumar</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/divya-jain.jpg" alt="Divya Jain">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Divya Jain</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/harini-penchalapadu.jpg" alt="Harini Penchalapadu">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Harini Penchalapadu</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/himanshu-raj.jpg" alt="Himanshu Raj">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Himanshu Raj</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/prakhar-chhabra.jpg" alt="Prakhar Chhabra">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Prakhar Chhabra</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/priyanshu-mani.jpg" alt="Priyanshu Mani">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Priyanshu Mani</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/rajendra-narayan.jpg" alt="Rajendra Narayan">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Rajendra Narayan</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/ravinder-naik.jpg" alt="Ravinder Naik">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Ravinder Naik</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/rishabh-jain.jpg" alt="Rishabh Jain">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Rishabh Jain</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/rupal-ranjan.jpg" alt="Rupal Ranjan">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Rupal Ranjan</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/saptarshi-biswas.jpg" alt="Saptarshi Biswas">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Saptarshi Biswas</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/shounak-nath.jpg" alt="Shounak Nath">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Shounak Nath</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/sumeet-balani.jpg" alt="Sumeet Balani">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Sumeet Balani</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/taha-chechatwala.jpg" alt="Taha Chechatwala">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Taha Chechatwala</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/vishal-gayakwar.jpg" alt="Vishal Gayakwar">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Vishal Gayakwar</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 hover-image-col">
          <div class="hover-image-container">
            <img src="/build/assets/images/team/ca/viswanath-sharabu.jpg" alt="Viswanath Sharabu">
            <div class="hover-image_title">
              <div class="hover-image_title-text">Viswanath Sharabu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
