<section class="content">
  <div class="login-form admin-login">
    <div class="login-form__header">
      <div class="icon-circle">
        <i class="fa fa-user fa-2x center-it"></i>
      </div>
      <label> SignUp</label>
    </div>

    <div class="login-form__body">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter Email">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Mobile Number">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter Password">
      </div>

      <button class="btn btn-hl full-width">SignUp</button>
    </div>

  </div>
</section>
