<div class="bg-img user-login-bg"></div>
<div class="user-login">
  <div class="container">
    <div class="login-box user-ls-card">

      <div class="hiding-section" *ngIf="!resetLinkSent">
        <div class="login-box_header">
          <div class="icon-circle">
            <i class="fa fa-info fa-2x center-it"></i>
          </div>
          <label>Forgot Password?</label>
        </div>
        <div class="login-form__body">
          <form [formGroup]="form.getForm()" (ngSubmit)="onFormSubmit()">
            <div class="form-group" [ngClass]="form.hasError('email') ? 'has-error': ''">
              <input type="email" formControlName="email" class="form-control input-md" placeholder="Enter Email">
              <span class="help-block" *ngIf="form.hasError('email')">
                {{ form.getError('email') }}
              </span>
            </div>
            <button #submit type="submit" class="btn btn-hl full-width input-md">Send Reset Link</button>
          </form>
        </div>
      </div>

      <div class="hiding-section" *ngIf="resetLinkSent">
        <div class="alert-box">
          <div class="alert-box_icon">
            <div class="circle-icon circle-icon_success">
              <span class="alert-icon center-it"></span>
            </div>
          </div>
          <div class="alert-box_main-text">
            <h3>Successfully Sent</h3>
          </div>
          <div class="alert-box_sub-text">
            <p>Please check your mail.</p>
          </div>
        </div>
      </div>

      <div class="login-box_footer">
        <div class="text-center">
          <a routerLink="/login"><i class="fa fa-arrow-left"></i> Back to Login </a></div>
      </div>
    </div>
  </div>
</div>
