.default {
  color: #fff !important;
  background-color: $default !important;
}

.school-theme {
  color: #fff !important;
  background-color: $school-theme !important;
}

.success {
  color: #fff !important;
  background-color: $success !important;
}

.danger {
  color: #fff !important;
  background-color: $danger !important;
}

.red {
  background-color: $red !important;
  color: #fff !important;
}

.blue {
  background-color: $blue !important;
  color: #fff !important;
}

.green {
  background-color: $green !important;
  color: #fff !important;
}

.orange {
  background-color: $orange !important;
  color: #fff !important;
}

.material-green {
  background-color: $material-green !important;
  color: #fff !important;
}

.material-blue {
  background-color: $material-blue !important;
  color: #fff !important;
}

.material-light-green {
  background-color: $material-light-green !important;
  color: #fff !important;
}

.blue-green {
  background-color: $blue-green !important;
  color: #fff !important;
}

.dark-grey {
  background-color: $dark-grey !important;
  color: #fff !important;
}

.teal {
  background-color: $teal !important;
  color: #fff !important;
}

.deep-orange {
  background-color: $deep-orange !important;
  color: #fff !important;
}

.orange {
  background-color: $orange !important;
  color: #fff !important;
}

.lime {
  background-color: $lime !important;
  color: #fff !important;
}

.yellow {
  background-color: $yellow !important;
  color: #fff !important;
}

.light-green {
  background-color: $light-green !important;
  color: #fff !important;
}

.cyan {
  background-color: $cyan !important;
  color: #fff !important;
}

.light-blue {
  background-color: $light-blue !important;
  color: #fff !important;
}

.indigo {
  background-color: $indigo !important;
  color: #fff !important;
}

.deep-purple {
  background-color: $deep-purple !important;
  color: #fff !important;
}

.purple {
  background-color: $purple !important;
  color: #fff !important;
}

.pink {
  background-color: $pink !important;
  color: #fff !important;
}

.red {
  background-color: $red !important;
  color: #fff !important;
}

.pam-theme {
  background-color: $pam-theme !important;
  color: #fff !important;
}

.white {
  background-color: $white !important;
  color: #333 !important;
}

.black {
  background-color: $black !important;
  color: #fff !important;
}

.facebook {
  background-color: $facebook !important;
  color: #fff !important;
}

.google-plus {
  background-color: $google-plus !important;
  color: #fff !important;
}

.linkedin {
  background-color: $linkedin !important;
  color: #fff !important;
}

.twitter {
  background-color: $twitter !important;
  color: #fff !important;
}

/* Grey scale */
.grey-1 {
  color: #111 !important;
}

.grey-2 {
  color: #222 !important;
}

.grey-3 {
  color: #333 !important;
}

.grey-4 {
  color: #444 !important;
}

.grey-5 {
  color: #555 !important;
}

.grey-6 {
  color: #666 !important;
}

.grey-7 {
  color: #777 !important;
}

.grey-8 {
  color: #888 !important;
}

.grey-9 {
  color: #999 !important;
}

.grey-10 {
  color: #aaa !important;
}

.grey-11 {
  color: #bbb !important;
}

.grey-12 {
  color: #ccc !important;
}

.grey-13 {
  color: #ddd !important;
}

.grey-14 {
  color: #eee !important;
}

.default-text {
  color: $default !important;
}

.red-text {
  color: $red !important;
}

.blue-text {
  color: $blue !important;
}

.green-text {
  color: $green !important;
}

.orange-text {
  color: $orange !important;
}

.blue-green-text {
  color: $blue-green !important;
}

.white-text {
  color: $white !important;
}

.black-text {
  color: $black !important;
}

.text-hl, .hl-text {
  color: $theme-color !important;
}
