// Colors
// colors
$theme-color: #1ab7c8;
$school-theme: #1ab7c8;
$default: #2980b9;
$success: #27ae60;
$danger: #c0392b;
$b-default: #f4f4f4;
$b-primary: #3c8dbc;
$b-success: #00c0ef;
$b-danger: #dd4b39;
$b-info: #00c0ef;
$b-warning: #f39c12;
$red: #c0392b;
$blue: #2980b9;
$green: #27ae60;
$orange: #e67e22;
$blue-green: #16a085;
$material-green: #00796B;
$material-blue: #1ab7c8;
$material-light-green: #16a085;
$dark-grey: #333;
$teal: #009688;
$deep-orange: #FF5722;
$orange: #FF9800;
$lime: #CDDC39;
$yellow: #FFEB3B;
$light-green: #8BC34A;
$cyan: #00BCD4;
$light-blue: #03A9F4;
$indigo: #3F51B5;
$deep-purple: #673AB7;
$purple: #9C27B0;
$pink: #E91E63;
$red: #f44336;
$pam-theme: #275c6f;
$white: #fff;
$black: #333;
$facebook: #3b5998;
$google-plus: #d34836;
$linkedin: #0077B5;
$twitter: #0084b4;
$hl-green: #00b050;
$hl-blue: #00b0f0;
