<section class="content">
    <h2>Aweet Alerts</h2>
    <div class="box">
        <h4>A basic message :</h4>
        <div class="box-body">
            <button class="btn btn-primary" (click)="sweetalert1()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>A basic message :</h4>
            <button class="btn btn-primary" (click)="sweetalert2()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>Modal with a title, an error icon, a text,
                and a footer :</h4>
            <button class="btn btn-primary" (click)="sweetalert3()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>A modal window with a long content inside:</h4>
            <button class="btn btn-primary" (click)="sweetalert4()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>Custom HTML description and buttons with ARIA labels</h4>
            <button class="btn btn-primary" (click)="sweetalert5()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>A custom positioned dialog</h4>
            <button class="btn btn-primary" (click)="sweetalert6()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>A confirm dialog, with a function attached to the "Confirm"-button...</h4>
            <button class="btn btn-primary" (click)="sweetalert7()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>A message with auto close timer</h4>
            <button class="btn btn-primary" (click)="sweetalert8()">Try me!</button>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <h4>Ajax request example</h4>
            <button class="btn btn-primary" (click)="sweetalert9()">Try me!</button>
        </div>
    </div>

</section>